<h1 class="pt-5">All friends</h1>

<h2 class="pt-3">Pending friends of {{ name }} </h2>
<div id="selected_user">
  {{#each pending_friends}}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="/uploads/images/{{this.image}}" style="height:60px; width:60px;">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.bio}}</p>
    <form action="/users/acceptfriend/{{this._id}}" method="post">
    <button type="submit" class="btn btn-primary" name="friendAccId" value="{{this._id}}">Accept friend request</button>
    </form>
    </div>
  </div>
  {{/each}}

<h2 class="pt-3">Confirmed friends of {{ name }} </h2>
<div id="selected_user">
  {{#each friends}}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="/uploads/images/{{this.image}}" style="height:60px; width:60px;">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.bio}}</p>
    <form action="/users/deletefriend/{{this._id}}" method="post">
    <button type="submit" class="btn btn-primary" name="friendDelId" value="{{this._id}}">Remove from friends</button>
    </form>
    </div>
  </div>
  {{/each}}
