<h1 class="pt-5">Currently logged in as {{ name }} </h1>

<h2 class="pt-3">Friends Awaiting Approval</h2>
<div id="selected_user" class="list-group">
  {{#each awaiting_approval}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="/uploads/images/{{this.image}}" style="height:60px; width:60px;">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.bio}}</p>
   </div>
  </div>
  {{/each}}


<h2 class="pt-3">Suggested Friends</h2>
<div id="selected_user" class="list-group">
  {{#each users}}
   <div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="/uploads/images/{{this.image}}" style="height:60px; width:60px;">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.bio}}</p>
  <form action="/users/addfriend/{{this._id}}" method="post">
  <button type="submit" class="btn btn-primary" name="friendReqId" value="{{this._id}}">
    Send {{this.name}} a friend request
  </button>
  </form>
   </div>
  </div>
  {{/each}}


