<h1 class="pt-5">Currently logged in as {{ name }} </h1>

<h2>Friends Awaiting Approval</h2>
<div id="selected_user" class="list-group">
  {{#each awaiting_approval}}
  <button type="button" class="list-group-item list-group-item-action">
    {{this.name}}
  </button>
  {{/each}}
</div>

<h2>Suggested Friends</h2>
<div id="selected_user" class="list-group">
  {{#each users}}
  <form action="/users/addfriend/{{this._id}}" method="post">
  <button type="submit" class="list-group-item list-group-item-action" name="friendReqId" value="{{this._id}}">
    Send {{this.name}} a friend request
  </button>
  </form>
  {{/each}}
</div>